benchmarks/.Rhistory
benchmarks/.Rproj.user/9B6BF2FF/rmd-outputs
benchmarks/.Rproj.user/9B6BF2FF/saved_source_markers
benchmarks/.Rproj.user/9B6BF2FF/session-persistent-state
benchmarks/.Rproj.user/9B6BF2FF/pcs/debug-breakpoints.pper
benchmarks/.Rproj.user/9B6BF2FF/pcs/files-pane.pper
benchmarks/.Rproj.user/9B6BF2FF/pcs/source-pane.pper
benchmarks/.Rproj.user/9B6BF2FF/pcs/windowlayoutstate.pper
benchmarks/.Rproj.user/9B6BF2FF/pcs/workbench-pane.pper
benchmarks/.Rproj.user/9B6BF2FF/sdb/per/t/96C12894
benchmarks/.Rproj.user/9B6BF2FF/sdb/per/t/EA4A1FB4
benchmarks/.Rproj.user/9B6BF2FF/sdb/prop/890BDA6C
benchmarks/.Rproj.user/9B6BF2FF/sdb/prop/INDEX
benchmarks/.Rproj.user/9B6BF2FF/viewer-cache/3CDC3457.Rdata
benchmarks/.Rproj.user/9B6BF2FF/viewer-cache/AC7C83F7.Rdata
benchmarks/.Rproj.user/shared/notebooks/paths
.Rproj.user
.Rhistory
.RData
.Ruserdata
benchmarks/pll/tree_15_pll.csv
benchmarks/pll/tree_25_pll.csv
benchmarks/pll/tree_35_pll.csv
benchmarks/pll/tree_45_pll.csv
benchmarks/pll/tree_55_pll.csv
benchmarks/pll/tree_5_pll.csv
benchmarks/pll/tree_65_pll.csv
cmake-build-intel/callgrind.out.82915
cmake-build-intel/cmake_install.cmake
cmake-build-intel/CMakeCache.txt
cmake-build-intel/gmock.pc
cmake-build-intel/gmock_main.pc
cmake-build-intel/gtest.pc
cmake-build-intel/gtest_main.pc
cmake-build-intel/Makefile
cmake-build-intel/tshexe
cmake-build-intel/tshexe.cbp
cmake-build-intel/tshlib_statistics.csv
cmake-build-intel/benchmarks/cmake_install.cmake
cmake-build-intel/benchmarks/Makefile
cmake-build-intel/benchmarks/tshlib_benchmarks
cmake-build-intel/benchmarks/tshlib_benchmarks.cbp
cmake-build-intel/benchmarks/tshlib_statistics.csv
cmake-build-intel/benchmarks/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-intel/benchmarks/CMakeFiles/progress.marks
cmake-build-intel/benchmarks/CMakeFiles/tshlib_benchmarks.dir/build.make
cmake-build-intel/benchmarks/CMakeFiles/tshlib_benchmarks.dir/cmake_clean.cmake
cmake-build-intel/benchmarks/CMakeFiles/tshlib_benchmarks.dir/CXX.includecache
cmake-build-intel/benchmarks/CMakeFiles/tshlib_benchmarks.dir/depend.internal
cmake-build-intel/benchmarks/CMakeFiles/tshlib_benchmarks.dir/depend.make
cmake-build-intel/benchmarks/CMakeFiles/tshlib_benchmarks.dir/DependInfo.cmake
cmake-build-intel/benchmarks/CMakeFiles/tshlib_benchmarks.dir/flags.make
cmake-build-intel/benchmarks/CMakeFiles/tshlib_benchmarks.dir/link.txt
cmake-build-intel/benchmarks/CMakeFiles/tshlib_benchmarks.dir/main.cpp.o
cmake-build-intel/benchmarks/CMakeFiles/tshlib_benchmarks.dir/progress.make
cmake-build-intel/benchmarks/tshlib_benchmarks.dSYM/Contents/Info.plist
cmake-build-intel/benchmarks/tshlib_benchmarks.dSYM/Contents/Resources/DWARF/tshlib_benchmarks
cmake-build-intel/CMakeFiles/clion-environment.txt
cmake-build-intel/CMakeFiles/clion-log.txt
cmake-build-intel/CMakeFiles/cmake.check_cache
cmake-build-intel/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-intel/CMakeFiles/CMakeOutput.log
cmake-build-intel/CMakeFiles/feature_tests.bin
cmake-build-intel/CMakeFiles/feature_tests.c
cmake-build-intel/CMakeFiles/feature_tests.cxx
cmake-build-intel/CMakeFiles/Makefile.cmake
cmake-build-intel/CMakeFiles/Makefile2
cmake-build-intel/CMakeFiles/progress.marks
cmake-build-intel/CMakeFiles/TargetDirectories.txt
cmake-build-intel/CMakeFiles/3.10.0/CMakeCCompiler.cmake
cmake-build-intel/CMakeFiles/3.10.0/CMakeCXXCompiler.cmake
cmake-build-intel/CMakeFiles/3.10.0/CMakeDetermineCompilerABI_C.bin
cmake-build-intel/CMakeFiles/3.10.0/CMakeDetermineCompilerABI_CXX.bin
cmake-build-intel/CMakeFiles/3.10.0/CMakeSystem.cmake
cmake-build-intel/CMakeFiles/3.10.0/CompilerIdC/a.out
cmake-build-intel/CMakeFiles/3.10.0/CompilerIdC/CMakeCCompilerId.c
cmake-build-intel/CMakeFiles/3.10.0/CompilerIdCXX/a.out
cmake-build-intel/CMakeFiles/3.10.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-intel/CMakeFiles/tshexe.dir/build.make
cmake-build-intel/CMakeFiles/tshexe.dir/cmake_clean.cmake
cmake-build-intel/CMakeFiles/tshexe.dir/CXX.includecache
cmake-build-intel/CMakeFiles/tshexe.dir/depend.internal
cmake-build-intel/CMakeFiles/tshexe.dir/depend.make
cmake-build-intel/CMakeFiles/tshexe.dir/DependInfo.cmake
cmake-build-intel/CMakeFiles/tshexe.dir/flags.make
cmake-build-intel/CMakeFiles/tshexe.dir/link.txt
cmake-build-intel/CMakeFiles/tshexe.dir/main.cpp.o
cmake-build-intel/CMakeFiles/tshexe.dir/progress.make
cmake-build-intel/googletest-build/cmake_install.cmake
cmake-build-intel/googletest-build/CTestTestfile.cmake
cmake-build-intel/googletest-build/googletest-distribution.cbp
cmake-build-intel/googletest-build/Makefile
cmake-build-intel/googletest-build/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-intel/googletest-build/CMakeFiles/progress.marks
cmake-build-intel/googletest-build/googlemock/cmake_install.cmake
cmake-build-intel/googletest-build/googlemock/CTestTestfile.cmake
cmake-build-intel/googletest-build/googlemock/gmock.cbp
cmake-build-intel/googletest-build/googlemock/libgmock.a
cmake-build-intel/googletest-build/googlemock/Makefile
cmake-build-intel/googletest-build/googlemock/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-intel/googletest-build/googlemock/CMakeFiles/progress.marks
cmake-build-intel/googletest-build/googlemock/CMakeFiles/gmock.dir/build.make
cmake-build-intel/googletest-build/googlemock/CMakeFiles/gmock.dir/cmake_clean.cmake
cmake-build-intel/googletest-build/googlemock/CMakeFiles/gmock.dir/cmake_clean_target.cmake
cmake-build-intel/googletest-build/googlemock/CMakeFiles/gmock.dir/CXX.includecache
cmake-build-intel/googletest-build/googlemock/CMakeFiles/gmock.dir/depend.internal
cmake-build-intel/googletest-build/googlemock/CMakeFiles/gmock.dir/depend.make
cmake-build-intel/googletest-build/googlemock/CMakeFiles/gmock.dir/DependInfo.cmake
cmake-build-intel/googletest-build/googlemock/CMakeFiles/gmock.dir/flags.make
cmake-build-intel/googletest-build/googlemock/CMakeFiles/gmock.dir/link.txt
cmake-build-intel/googletest-build/googlemock/CMakeFiles/gmock.dir/progress.make
cmake-build-intel/googletest-build/googlemock/CMakeFiles/gmock.dir/__/googletest/src/gtest-all.cc.o
cmake-build-intel/googletest-build/googlemock/CMakeFiles/gmock.dir/src/gmock-all.cc.o
cmake-build-intel/googletest-build/googlemock/CMakeFiles/gmock_main.dir/build.make
cmake-build-intel/googletest-build/googlemock/CMakeFiles/gmock_main.dir/cmake_clean.cmake
cmake-build-intel/googletest-build/googlemock/CMakeFiles/gmock_main.dir/cmake_clean_target.cmake
cmake-build-intel/googletest-build/googlemock/CMakeFiles/gmock_main.dir/depend.make
cmake-build-intel/googletest-build/googlemock/CMakeFiles/gmock_main.dir/DependInfo.cmake
cmake-build-intel/googletest-build/googlemock/CMakeFiles/gmock_main.dir/flags.make
cmake-build-intel/googletest-build/googlemock/CMakeFiles/gmock_main.dir/link.txt
cmake-build-intel/googletest-build/googlemock/CMakeFiles/gmock_main.dir/progress.make
cmake-build-intel/googletest-build/googlemock/gtest/cmake_install.cmake
cmake-build-intel/googletest-build/googlemock/gtest/CTestTestfile.cmake
cmake-build-intel/googletest-build/googlemock/gtest/gtest.cbp
cmake-build-intel/googletest-build/googlemock/gtest/libgtest.a
cmake-build-intel/googletest-build/googlemock/gtest/Makefile
cmake-build-intel/googletest-build/googlemock/gtest/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-intel/googletest-build/googlemock/gtest/CMakeFiles/progress.marks
cmake-build-intel/googletest-build/googlemock/gtest/CMakeFiles/gtest.dir/build.make
cmake-build-intel/googletest-build/googlemock/gtest/CMakeFiles/gtest.dir/cmake_clean.cmake
cmake-build-intel/googletest-build/googlemock/gtest/CMakeFiles/gtest.dir/cmake_clean_target.cmake
cmake-build-intel/googletest-build/googlemock/gtest/CMakeFiles/gtest.dir/CXX.includecache
cmake-build-intel/googletest-build/googlemock/gtest/CMakeFiles/gtest.dir/depend.internal
cmake-build-intel/googletest-build/googlemock/gtest/CMakeFiles/gtest.dir/depend.make
cmake-build-intel/googletest-build/googlemock/gtest/CMakeFiles/gtest.dir/DependInfo.cmake
cmake-build-intel/googletest-build/googlemock/gtest/CMakeFiles/gtest.dir/flags.make
cmake-build-intel/googletest-build/googlemock/gtest/CMakeFiles/gtest.dir/link.txt
cmake-build-intel/googletest-build/googlemock/gtest/CMakeFiles/gtest.dir/progress.make
cmake-build-intel/googletest-build/googlemock/gtest/CMakeFiles/gtest.dir/src/gtest-all.cc.o
cmake-build-intel/googletest-build/googlemock/gtest/CMakeFiles/gtest_main.dir/build.make
cmake-build-intel/googletest-build/googlemock/gtest/CMakeFiles/gtest_main.dir/cmake_clean.cmake
cmake-build-intel/googletest-build/googlemock/gtest/CMakeFiles/gtest_main.dir/cmake_clean_target.cmake
cmake-build-intel/googletest-build/googlemock/gtest/CMakeFiles/gtest_main.dir/depend.make
cmake-build-intel/googletest-build/googlemock/gtest/CMakeFiles/gtest_main.dir/DependInfo.cmake
cmake-build-intel/googletest-build/googlemock/gtest/CMakeFiles/gtest_main.dir/flags.make
cmake-build-intel/googletest-build/googlemock/gtest/CMakeFiles/gtest_main.dir/link.txt
cmake-build-intel/googletest-build/googlemock/gtest/CMakeFiles/gtest_main.dir/progress.make
cmake-build-intel/googletest-download/cmake_install.cmake
cmake-build-intel/googletest-download/CMakeCache.txt
cmake-build-intel/googletest-download/CMakeLists.txt
cmake-build-intel/googletest-download/Makefile
cmake-build-intel/googletest-download/CMakeFiles/cmake.check_cache
cmake-build-intel/googletest-download/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-intel/googletest-download/CMakeFiles/CMakeOutput.log
cmake-build-intel/googletest-download/CMakeFiles/CMakeRuleHashes.txt
cmake-build-intel/googletest-download/CMakeFiles/googletest-complete
cmake-build-intel/googletest-download/CMakeFiles/Makefile.cmake
cmake-build-intel/googletest-download/CMakeFiles/Makefile2
cmake-build-intel/googletest-download/CMakeFiles/progress.marks
cmake-build-intel/googletest-download/CMakeFiles/TargetDirectories.txt
cmake-build-intel/googletest-download/CMakeFiles/3.10.0/CMakeSystem.cmake
cmake-build-intel/googletest-download/CMakeFiles/3.8.2/CMakeSystem.cmake
cmake-build-intel/googletest-download/CMakeFiles/googletest.dir/build.make
cmake-build-intel/googletest-download/CMakeFiles/googletest.dir/cmake_clean.cmake
cmake-build-intel/googletest-download/CMakeFiles/googletest.dir/depend.internal
cmake-build-intel/googletest-download/CMakeFiles/googletest.dir/depend.make
cmake-build-intel/googletest-download/CMakeFiles/googletest.dir/DependInfo.cmake
cmake-build-intel/googletest-download/CMakeFiles/googletest.dir/Labels.json
cmake-build-intel/googletest-download/CMakeFiles/googletest.dir/Labels.txt
cmake-build-intel/googletest-download/CMakeFiles/googletest.dir/progress.make
cmake-build-intel/googletest-download/googletest-prefix/src/googletest-stamp/googletest-build
cmake-build-intel/googletest-download/googletest-prefix/src/googletest-stamp/googletest-configure
cmake-build-intel/googletest-download/googletest-prefix/src/googletest-stamp/googletest-done
cmake-build-intel/googletest-download/googletest-prefix/src/googletest-stamp/googletest-download
cmake-build-intel/googletest-download/googletest-prefix/src/googletest-stamp/googletest-gitclone-lastrun.txt
cmake-build-intel/googletest-download/googletest-prefix/src/googletest-stamp/googletest-gitinfo.txt
cmake-build-intel/googletest-download/googletest-prefix/src/googletest-stamp/googletest-install
cmake-build-intel/googletest-download/googletest-prefix/src/googletest-stamp/googletest-mkdir
cmake-build-intel/googletest-download/googletest-prefix/src/googletest-stamp/googletest-patch
cmake-build-intel/googletest-download/googletest-prefix/src/googletest-stamp/googletest-test
cmake-build-intel/googletest-download/googletest-prefix/tmp/googletest-cfgcmd.txt
cmake-build-intel/googletest-download/googletest-prefix/tmp/googletest-cfgcmd.txt.in
cmake-build-intel/googletest-download/googletest-prefix/tmp/googletest-gitclone.cmake
cmake-build-intel/googletest-download/googletest-prefix/tmp/googletest-gitupdate.cmake
cmake-build-intel/src/cmake_install.cmake
cmake-build-intel/src/libtshlib.a
cmake-build-intel/src/libtshlibd.a
cmake-build-intel/src/Makefile
cmake-build-intel/src/tshlib.cbp
cmake-build-intel/src/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-intel/src/CMakeFiles/progress.marks
cmake-build-intel/src/CMakeFiles/tshlib.dir/Alignment.cpp.o
cmake-build-intel/src/CMakeFiles/tshlib.dir/Alphabet.cpp.o
cmake-build-intel/src/CMakeFiles/tshlib.dir/build.make
cmake-build-intel/src/CMakeFiles/tshlib.dir/cmake_clean.cmake
cmake-build-intel/src/CMakeFiles/tshlib.dir/cmake_clean_target.cmake
cmake-build-intel/src/CMakeFiles/tshlib.dir/CXX.includecache
cmake-build-intel/src/CMakeFiles/tshlib.dir/depend.internal
cmake-build-intel/src/CMakeFiles/tshlib.dir/depend.make
cmake-build-intel/src/CMakeFiles/tshlib.dir/DependInfo.cmake
cmake-build-intel/src/CMakeFiles/tshlib.dir/flags.make
cmake-build-intel/src/CMakeFiles/tshlib.dir/Likelihood.cpp.o
cmake-build-intel/src/CMakeFiles/tshlib.dir/link.txt
cmake-build-intel/src/CMakeFiles/tshlib.dir/newick.cpp.o
cmake-build-intel/src/CMakeFiles/tshlib.dir/PhyTree.cpp.o
cmake-build-intel/src/CMakeFiles/tshlib.dir/progress.make
cmake-build-intel/src/CMakeFiles/tshlib.dir/Sequence.cpp.o
cmake-build-intel/src/CMakeFiles/tshlib.dir/TreeRearrangment.cpp.o
cmake-build-intel/src/CMakeFiles/tshlib.dir/TreeSearch.cpp.o
cmake-build-intel/src/CMakeFiles/tshlib.dir/Utree.cpp.o
cmake-build-intel/test/cmake_install.cmake
cmake-build-intel/test/CTestTestfile.cmake
cmake-build-intel/test/DartConfiguration.tcl
cmake-build-intel/test/Makefile
cmake-build-intel/test/runUnitTests
cmake-build-intel/test/tshlib_tests.cbp
cmake-build-intel/test/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-intel/test/CMakeFiles/progress.marks
cmake-build-intel/test/CMakeFiles/Continuous.dir/build.make
cmake-build-intel/test/CMakeFiles/Continuous.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/Continuous.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/Continuous.dir/progress.make
cmake-build-intel/test/CMakeFiles/ContinuousBuild.dir/build.make
cmake-build-intel/test/CMakeFiles/ContinuousBuild.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/ContinuousBuild.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/ContinuousBuild.dir/progress.make
cmake-build-intel/test/CMakeFiles/ContinuousConfigure.dir/build.make
cmake-build-intel/test/CMakeFiles/ContinuousConfigure.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/ContinuousConfigure.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/ContinuousConfigure.dir/progress.make
cmake-build-intel/test/CMakeFiles/ContinuousCoverage.dir/build.make
cmake-build-intel/test/CMakeFiles/ContinuousCoverage.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/ContinuousCoverage.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/ContinuousCoverage.dir/progress.make
cmake-build-intel/test/CMakeFiles/ContinuousMemCheck.dir/build.make
cmake-build-intel/test/CMakeFiles/ContinuousMemCheck.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/ContinuousMemCheck.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/ContinuousMemCheck.dir/progress.make
cmake-build-intel/test/CMakeFiles/ContinuousStart.dir/build.make
cmake-build-intel/test/CMakeFiles/ContinuousStart.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/ContinuousStart.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/ContinuousStart.dir/progress.make
cmake-build-intel/test/CMakeFiles/ContinuousSubmit.dir/build.make
cmake-build-intel/test/CMakeFiles/ContinuousSubmit.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/ContinuousSubmit.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/ContinuousSubmit.dir/progress.make
cmake-build-intel/test/CMakeFiles/ContinuousTest.dir/build.make
cmake-build-intel/test/CMakeFiles/ContinuousTest.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/ContinuousTest.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/ContinuousTest.dir/progress.make
cmake-build-intel/test/CMakeFiles/ContinuousUpdate.dir/build.make
cmake-build-intel/test/CMakeFiles/ContinuousUpdate.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/ContinuousUpdate.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/ContinuousUpdate.dir/progress.make
cmake-build-intel/test/CMakeFiles/Experimental.dir/build.make
cmake-build-intel/test/CMakeFiles/Experimental.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/Experimental.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/Experimental.dir/progress.make
cmake-build-intel/test/CMakeFiles/ExperimentalBuild.dir/build.make
cmake-build-intel/test/CMakeFiles/ExperimentalBuild.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/ExperimentalBuild.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/ExperimentalBuild.dir/progress.make
cmake-build-intel/test/CMakeFiles/ExperimentalConfigure.dir/build.make
cmake-build-intel/test/CMakeFiles/ExperimentalConfigure.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/ExperimentalConfigure.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/ExperimentalConfigure.dir/progress.make
cmake-build-intel/test/CMakeFiles/ExperimentalCoverage.dir/build.make
cmake-build-intel/test/CMakeFiles/ExperimentalCoverage.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/ExperimentalCoverage.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/ExperimentalCoverage.dir/progress.make
cmake-build-intel/test/CMakeFiles/ExperimentalMemCheck.dir/build.make
cmake-build-intel/test/CMakeFiles/ExperimentalMemCheck.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/ExperimentalMemCheck.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/ExperimentalMemCheck.dir/progress.make
cmake-build-intel/test/CMakeFiles/ExperimentalStart.dir/build.make
cmake-build-intel/test/CMakeFiles/ExperimentalStart.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/ExperimentalStart.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/ExperimentalStart.dir/progress.make
cmake-build-intel/test/CMakeFiles/ExperimentalSubmit.dir/build.make
cmake-build-intel/test/CMakeFiles/ExperimentalSubmit.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/ExperimentalSubmit.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/ExperimentalSubmit.dir/progress.make
cmake-build-intel/test/CMakeFiles/ExperimentalTest.dir/build.make
cmake-build-intel/test/CMakeFiles/ExperimentalTest.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/ExperimentalTest.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/ExperimentalTest.dir/progress.make
cmake-build-intel/test/CMakeFiles/ExperimentalUpdate.dir/build.make
cmake-build-intel/test/CMakeFiles/ExperimentalUpdate.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/ExperimentalUpdate.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/ExperimentalUpdate.dir/progress.make
cmake-build-intel/test/CMakeFiles/Nightly.dir/build.make
cmake-build-intel/test/CMakeFiles/Nightly.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/Nightly.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/Nightly.dir/progress.make
cmake-build-intel/test/CMakeFiles/NightlyBuild.dir/build.make
cmake-build-intel/test/CMakeFiles/NightlyBuild.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/NightlyBuild.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/NightlyBuild.dir/progress.make
cmake-build-intel/test/CMakeFiles/NightlyConfigure.dir/build.make
cmake-build-intel/test/CMakeFiles/NightlyConfigure.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/NightlyConfigure.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/NightlyConfigure.dir/progress.make
cmake-build-intel/test/CMakeFiles/NightlyCoverage.dir/build.make
cmake-build-intel/test/CMakeFiles/NightlyCoverage.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/NightlyCoverage.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/NightlyCoverage.dir/progress.make
cmake-build-intel/test/CMakeFiles/NightlyMemCheck.dir/build.make
cmake-build-intel/test/CMakeFiles/NightlyMemCheck.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/NightlyMemCheck.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/NightlyMemCheck.dir/progress.make
cmake-build-intel/test/CMakeFiles/NightlyMemoryCheck.dir/build.make
cmake-build-intel/test/CMakeFiles/NightlyMemoryCheck.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/NightlyMemoryCheck.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/NightlyMemoryCheck.dir/progress.make
cmake-build-intel/test/CMakeFiles/NightlyStart.dir/build.make
cmake-build-intel/test/CMakeFiles/NightlyStart.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/NightlyStart.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/NightlyStart.dir/progress.make
cmake-build-intel/test/CMakeFiles/NightlySubmit.dir/build.make
cmake-build-intel/test/CMakeFiles/NightlySubmit.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/NightlySubmit.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/NightlySubmit.dir/progress.make
cmake-build-intel/test/CMakeFiles/NightlyTest.dir/build.make
cmake-build-intel/test/CMakeFiles/NightlyTest.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/NightlyTest.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/NightlyTest.dir/progress.make
cmake-build-intel/test/CMakeFiles/NightlyUpdate.dir/build.make
cmake-build-intel/test/CMakeFiles/NightlyUpdate.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/NightlyUpdate.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/NightlyUpdate.dir/progress.make
cmake-build-intel/test/CMakeFiles/runUnitTests.dir/basic_tests.cpp.o
cmake-build-intel/test/CMakeFiles/runUnitTests.dir/build.make
cmake-build-intel/test/CMakeFiles/runUnitTests.dir/cmake_clean.cmake
cmake-build-intel/test/CMakeFiles/runUnitTests.dir/CXX.includecache
cmake-build-intel/test/CMakeFiles/runUnitTests.dir/depend.internal
cmake-build-intel/test/CMakeFiles/runUnitTests.dir/depend.make
cmake-build-intel/test/CMakeFiles/runUnitTests.dir/DependInfo.cmake
cmake-build-intel/test/CMakeFiles/runUnitTests.dir/flags.make
cmake-build-intel/test/CMakeFiles/runUnitTests.dir/link.txt
cmake-build-intel/test/CMakeFiles/runUnitTests.dir/progress.make
cmake-build-intel/test/googletest-download/CMakeLists.txt
cmake-build-release/cmake_install.cmake
cmake-build-release/CMakeCache.txt
cmake-build-release/Makefile
cmake-build-release/tshexe.cbp
cmake-build-release/benchmarks/callgrind.out.88147
cmake-build-release/benchmarks/callgrind.out.89444
cmake-build-release/benchmarks/cmake_install.cmake
cmake-build-release/benchmarks/Makefile
cmake-build-release/benchmarks/tshlib_benchmarks
cmake-build-release/benchmarks/tshlib_benchmarks.cbp
cmake-build-release/benchmarks/tshlib_statistics.csv
cmake-build-release/benchmarks/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-release/benchmarks/CMakeFiles/progress.marks
cmake-build-release/benchmarks/CMakeFiles/tshlib_benchmarks.dir/build.make
cmake-build-release/benchmarks/CMakeFiles/tshlib_benchmarks.dir/cmake_clean.cmake
cmake-build-release/benchmarks/CMakeFiles/tshlib_benchmarks.dir/CXX.includecache
cmake-build-release/benchmarks/CMakeFiles/tshlib_benchmarks.dir/depend.internal
cmake-build-release/benchmarks/CMakeFiles/tshlib_benchmarks.dir/depend.make
cmake-build-release/benchmarks/CMakeFiles/tshlib_benchmarks.dir/DependInfo.cmake
cmake-build-release/benchmarks/CMakeFiles/tshlib_benchmarks.dir/flags.make
cmake-build-release/benchmarks/CMakeFiles/tshlib_benchmarks.dir/link.txt
cmake-build-release/benchmarks/CMakeFiles/tshlib_benchmarks.dir/main.cpp.o
cmake-build-release/benchmarks/CMakeFiles/tshlib_benchmarks.dir/progress.make
cmake-build-release/benchmarks/tshlib_benchmarks.dSYM/Contents/Info.plist
cmake-build-release/benchmarks/tshlib_benchmarks.dSYM/Contents/Resources/DWARF/tshlib_benchmarks
cmake-build-release/CMakeFiles/clion-environment.txt
cmake-build-release/CMakeFiles/clion-log.txt
cmake-build-release/CMakeFiles/cmake.check_cache
cmake-build-release/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-release/CMakeFiles/CMakeOutput.log
cmake-build-release/CMakeFiles/feature_tests.bin
cmake-build-release/CMakeFiles/feature_tests.c
cmake-build-release/CMakeFiles/feature_tests.cxx
cmake-build-release/CMakeFiles/Makefile.cmake
cmake-build-release/CMakeFiles/Makefile2
cmake-build-release/CMakeFiles/progress.marks
cmake-build-release/CMakeFiles/TargetDirectories.txt
cmake-build-release/CMakeFiles/3.10.0/CMakeCCompiler.cmake
cmake-build-release/CMakeFiles/3.10.0/CMakeCXXCompiler.cmake
cmake-build-release/CMakeFiles/3.10.0/CMakeDetermineCompilerABI_C.bin
cmake-build-release/CMakeFiles/3.10.0/CMakeDetermineCompilerABI_CXX.bin
cmake-build-release/CMakeFiles/3.10.0/CMakeSystem.cmake
cmake-build-release/CMakeFiles/3.10.0/CompilerIdC/a.out
cmake-build-release/CMakeFiles/3.10.0/CompilerIdC/CMakeCCompilerId.c
cmake-build-release/CMakeFiles/3.10.0/CompilerIdCXX/a.out
cmake-build-release/CMakeFiles/3.10.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-release/CMakeFiles/tshexe.dir/build.make
cmake-build-release/CMakeFiles/tshexe.dir/cmake_clean.cmake
cmake-build-release/CMakeFiles/tshexe.dir/depend.make
cmake-build-release/CMakeFiles/tshexe.dir/DependInfo.cmake
cmake-build-release/CMakeFiles/tshexe.dir/flags.make
cmake-build-release/CMakeFiles/tshexe.dir/link.txt
cmake-build-release/CMakeFiles/tshexe.dir/progress.make
cmake-build-release/googletest-download/cmake_install.cmake
cmake-build-release/googletest-download/CMakeCache.txt
cmake-build-release/googletest-download/CMakeLists.txt
cmake-build-release/googletest-download/Makefile
cmake-build-release/googletest-download/CMakeFiles/cmake.check_cache
cmake-build-release/googletest-download/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-release/googletest-download/CMakeFiles/CMakeOutput.log
cmake-build-release/googletest-download/CMakeFiles/CMakeRuleHashes.txt
cmake-build-release/googletest-download/CMakeFiles/Makefile.cmake
cmake-build-release/googletest-download/CMakeFiles/Makefile2
cmake-build-release/googletest-download/CMakeFiles/progress.marks
cmake-build-release/googletest-download/CMakeFiles/TargetDirectories.txt
cmake-build-release/googletest-download/CMakeFiles/3.10.0/CMakeSystem.cmake
cmake-build-release/googletest-download/CMakeFiles/googletest.dir/build.make
cmake-build-release/googletest-download/CMakeFiles/googletest.dir/cmake_clean.cmake
cmake-build-release/googletest-download/CMakeFiles/googletest.dir/depend.internal
cmake-build-release/googletest-download/CMakeFiles/googletest.dir/depend.make
cmake-build-release/googletest-download/CMakeFiles/googletest.dir/DependInfo.cmake
cmake-build-release/googletest-download/CMakeFiles/googletest.dir/Labels.json
cmake-build-release/googletest-download/CMakeFiles/googletest.dir/Labels.txt
cmake-build-release/googletest-download/CMakeFiles/googletest.dir/progress.make
cmake-build-release/googletest-download/CMakeFiles/Progress/3
cmake-build-release/googletest-download/CMakeFiles/Progress/4
cmake-build-release/googletest-download/CMakeFiles/Progress/5
cmake-build-release/googletest-download/CMakeFiles/Progress/6
cmake-build-release/googletest-download/CMakeFiles/Progress/count.txt
cmake-build-release/googletest-download/googletest-prefix/src/googletest-stamp/googletest-download
cmake-build-release/googletest-download/googletest-prefix/src/googletest-stamp/googletest-gitclone-lastrun.txt
cmake-build-release/googletest-download/googletest-prefix/src/googletest-stamp/googletest-gitinfo.txt
cmake-build-release/googletest-download/googletest-prefix/src/googletest-stamp/googletest-mkdir
cmake-build-release/googletest-download/googletest-prefix/src/googletest-stamp/googletest-patch
cmake-build-release/googletest-download/googletest-prefix/tmp/googletest-cfgcmd.txt
cmake-build-release/googletest-download/googletest-prefix/tmp/googletest-cfgcmd.txt.in
cmake-build-release/googletest-download/googletest-prefix/tmp/googletest-gitclone.cmake
cmake-build-release/googletest-download/googletest-prefix/tmp/googletest-gitupdate.cmake
cmake-build-release/src/cmake_install.cmake
cmake-build-release/src/libtshlib.a
cmake-build-release/src/Makefile
cmake-build-release/src/tshlib.cbp
cmake-build-release/src/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-release/src/CMakeFiles/progress.marks
cmake-build-release/src/CMakeFiles/tshlib.dir/Alignment.cpp.o
cmake-build-release/src/CMakeFiles/tshlib.dir/Alphabet.cpp.o
cmake-build-release/src/CMakeFiles/tshlib.dir/build.make
cmake-build-release/src/CMakeFiles/tshlib.dir/cmake_clean.cmake
cmake-build-release/src/CMakeFiles/tshlib.dir/cmake_clean_target.cmake
cmake-build-release/src/CMakeFiles/tshlib.dir/CXX.includecache
cmake-build-release/src/CMakeFiles/tshlib.dir/depend.internal
cmake-build-release/src/CMakeFiles/tshlib.dir/depend.make
cmake-build-release/src/CMakeFiles/tshlib.dir/DependInfo.cmake
cmake-build-release/src/CMakeFiles/tshlib.dir/flags.make
cmake-build-release/src/CMakeFiles/tshlib.dir/Likelihood.cpp.o
cmake-build-release/src/CMakeFiles/tshlib.dir/link.txt
cmake-build-release/src/CMakeFiles/tshlib.dir/newick.cpp.o
cmake-build-release/src/CMakeFiles/tshlib.dir/PhyTree.cpp.o
cmake-build-release/src/CMakeFiles/tshlib.dir/progress.make
cmake-build-release/src/CMakeFiles/tshlib.dir/Sequence.cpp.o
cmake-build-release/src/CMakeFiles/tshlib.dir/TreeRearrangment.cpp.o
cmake-build-release/src/CMakeFiles/tshlib.dir/TreeSearch.cpp.o
cmake-build-release/src/CMakeFiles/tshlib.dir/Utree.cpp.o
cmake-build-release/test/DartConfiguration.tcl
data/dna_10.fa
data/dna_13.fa
data/dna_5.fa
data/dna_64.fa
data/dna_8.fa
data/tree_10_leaves_r_bl.nwk
data/tree_13_leaves_r_bl.nwk
data/tree_64_leaves_unbalanced.nwk
data/tree_8_leaves_r_balanced.nwk
data/tree_8_leaves_r_bl.nwk
